@font-face {
  font-family: G-Roboto-n4;
  src: url('../data/fonts/roboto_v20_KFOmCnqEu92Fr1Me5WZLCzYlKw.ttf');
}
@font-face {
  font-family: G-Roboto-n3;
  src: url('../data/fonts/roboto_v20_KFOlCnqEu92Fr1MmSU5vAx05IsDqlA.ttf');
}